<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <% #= 【コメント】_user.html.erbパーシャル自動的に実行 %>
  <% #= 【コメント】@usersのリストに対して、パーシャルが実行される %>
  <% #= 【コメント】繰り返し文は書く必要なし %>
  <%= render @users %>
</ul>

<%= will_paginate %>
